In [41]:
import pandas as pd
import numpy as np

In [42]:
df = pd.read_csv('../Step_1_XML_Processing/authorships.csv', index_col = 0)
df.head()

                 id_article                 author
0  tr/gte/TR-0169-12-91-165           Frank Manola
1  tr/gte/TM-0332-11-90-165           Frank Manola
2  tr/gte/TM-0332-11-90-165        Mark F. Hornick
3  tr/gte/TM-0332-11-90-165  Alejandro P. Buchmann
4  tr/gte/TR-0263-08-94-165           Frank Manola

In [43]:
df.shape

(1136213, 2)

In [44]:
df = df.groupby('author').count().query('id_article >= 3')

In [51]:
authors = pd.DataFrame(df.id_article.index)

In [52]:
authors.to_csv('./nodes_catalogue.csv')