In [1]:
import pandas as pd
import numpy as np
from itertools import permutations

In [2]:
df = pd.read_csv('../Step_3_filtering_authorships/filtered_authorships.csv', index_col = 0)
df.head()

                 id_article                 author
0  tr/gte/TR-0169-12-91-165           Frank Manola
1  tr/gte/TM-0332-11-90-165           Frank Manola
2  tr/gte/TM-0332-11-90-165        Mark F. Hornick
3  tr/gte/TM-0332-11-90-165  Alejandro P. Buchmann
4  tr/gte/TR-0263-08-94-165           Frank Manola

In [3]:
df = df.merge(df, how = 'inner', on = 'id_article')

In [4]:
df.head()

                 id_article         author_x               author_y
0  tr/gte/TR-0169-12-91-165     Frank Manola           Frank Manola
1  tr/gte/TM-0332-11-90-165     Frank Manola           Frank Manola
2  tr/gte/TM-0332-11-90-165     Frank Manola        Mark F. Hornick
3  tr/gte/TM-0332-11-90-165     Frank Manola  Alejandro P. Buchmann
4  tr/gte/TM-0332-11-90-165  Mark F. Hornick           Frank Manola