In [1]:
import pandas as pd
import numpy as np
from itertools import permutations

In [2]:
df = pd.read_csv('../Step_3_filtering_authorships/filtered_authorships.csv', index_col = 0)
df.head()

                 id_article                 author
0  tr/gte/TR-0169-12-91-165           Frank Manola
1  tr/gte/TM-0332-11-90-165           Frank Manola
2  tr/gte/TM-0332-11-90-165        Mark F. Hornick
3  tr/gte/TM-0332-11-90-165  Alejandro P. Buchmann
4  tr/gte/TR-0263-08-94-165           Frank Manola

In [3]:
# Realiza la unión de la tabla consigo misma (inner join)
df = df.merge(df, how = 'inner', on = 'id_article')

In [4]:
df.head()

                 id_article         author_x               author_y
0  tr/gte/TR-0169-12-91-165     Frank Manola           Frank Manola
1  tr/gte/TM-0332-11-90-165     Frank Manola           Frank Manola
2  tr/gte/TM-0332-11-90-165     Frank Manola        Mark F. Hornick
3  tr/gte/TM-0332-11-90-165     Frank Manola  Alejandro P. Buchmann
4  tr/gte/TM-0332-11-90-165  Mark F. Hornick           Frank Manola

In [5]:
df.shape

(2141077, 3)

In [6]:
# Revisa cuantos autores están repetidos
df[df['author_x'] == df['author_y']].shape

(828577, 3)

In [7]:
# Elimina los autores repetidos, ejemplo: autor1, autor1
df.drop(df[df['author_x'] == df['author_y']].index,inplace=True)

In [8]:
df.shape

(1312500, 3)

In [9]:
# Quita las aristas repetidas, ejemplo: autor1, autor2 y autor2, autor1
edges = set(frozenset([data['author_x'], data['author_y']]) for index,data in df.iterrows())

In [10]:
edges = list(edges)
print(len(edges))

284654

In [11]:
# Genera el archivo csv 
df = pd.DataFrame(edges)
df = df.rename(columns = {0:'source', 1:'target'})
df.to_csv('./edges.csv')