In [1]:
import networkx as nx
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
df = pd.read_csv('../Step_4_edges/edges.csv', index_col = 0)
df.head()

                  source                target
0    Stephen P. DeWeerth  Gennady S. Cymbalyuk
1         Paul Mukherjee           Kim Sunesen
2     Francisco Gordillo         Aníbal Ollero
3  Michael F. P. O'Boyle   Christine Eisenbeis
4        Noel E. Sharkey     Stuart A. Jackson

In [12]:
G = nx.from_pandas_edgelist(df = df, source = 'source', target = 'target', edge_attr=True)

In [13]:
print(nx.info(G))

Name:
Type: Graph
Number of nodes: 88783
Number of edges: 284654
Average degree:   6.4124