In [1]:
import networkx as nx
import pandas as pd

In [2]:
df = pd.read_csv('../Step_4_edges/edges.csv', index_col = 0)
df.head()

                  source                target
0    Stephen P. DeWeerth  Gennady S. Cymbalyuk
1         Paul Mukherjee           Kim Sunesen
2     Francisco Gordillo         Aníbal Ollero
3  Michael F. P. O'Boyle   Christine Eisenbeis
4        Noel E. Sharkey     Stuart A. Jackson

In [3]:
df.shape

(284654, 2)

In [4]:
df_a = pd.read_csv('../Step_2_nodes_catalogue//nodes_catalogue.csv', index_col = 0) 
print(df_a)

                   author
0              A Min Tjoa
1               A-Rum Jun
2      A. A. (Louis) Beex
3        A. A. Abouelsoud
4              A. A. Ball
...                   ...
93907          Ülle Kotta
93908         Ümit Aygölü
93909          Ümit Bilge
93910  Ümit V. Çatalyürek
93911        Ümit Özgüner

[93912 rows x 1 columns]

In [5]:
# Realiza un diccionario que asocia un autor con un id
autores = df_a.to_dict("index")

In [6]:
# Cambia las claves por valores y viceversa
def invertir(dicc):
    inverso = {}
    for item in dicc.items():
        inverso[item[1]['author']] = item[0]
    return inverso

In [7]:
autores_lis=invertir(autores)

In [8]:
# Devuelve una tupla con el id de los 2 autores
def obtiene_id(autor1, autor2):
    id1 = autores_lis[autor1]
    id2 = autores_lis[autor2]
    return (id1,id2)

In [9]:
G = nx.Graph()
lista = []
for index,data in df.iterrows():
    edges = obtiene_id(data['source'],data['target'])
    # Quitar en la versión final
    lista.append(edges)
    G.add_nodes_from(edges)

In [10]:
# Para verificar que los primeros 100 valores sean correctos
for i in range(100):
    print(lista[i])
print("Tamaño de la lista: %d" % len(lista))

(79559, 26197)
(65081, 47158)
(24170, 6052)
(57484, 13267)
(62378, 80140)
(63560, 48630)
(41204, 76586)
(13782, 24608)
(75588, 47798)
(22463, 23371)
(64392, 24822)
(18417, 65064)
(70217, 80414)
(46487, 80712)
(70227, 4934)
(75220, 11383)
(49885, 12953)
(50891, 33130)
(18063, 89499)
(26776, 19439)
(64545, 32468)
(47305, 32113)
(28505, 21670)
(42777, 43589)
(82588, 23644)
(87991, 80951)
(69725, 9686)
(74721, 30736)
(66493, 20459)
(1597, 33618)
(19822, 65765)
(33710, 64730)
(23240, 89498)
(22233, 36522)
(71986, 71012)
(54827, 22412)
(18411, 16961)
(71448, 34096)
(24892, 1697)
(54611, 80827)
(86757, 34850)
(27944, 6756)
(64255, 14318)
(57909, 57716)
(6430, 81118)
(42060, 39445)
(888, 70098)
(45737, 91199)
(59533, 12127)
(75830, 38539)
(50973, 3744)
(84399, 74931)
(40285, 31008)
(65032, 56394)
(73225, 45659)
(60615, 70861)
(10063, 14318)
(37323, 29161)
(58091, 8701)
(49814, 17199)
(52921, 89991)
(10153, 79973)
(10270, 23418)
(78877, 34374)
(69599, 23423)
(53309, 10358)
(93032, 85180)
(83189, 45497)
(14634, 84433)
(56308, 83909)
(78747, 39843)
(33247, 72146)
(20197, 76674)
(65796, 43865)
(48560, 37503)
(23969, 5768)
(74028, 32036)
(46257, 10536)
(67360, 1504)
(5802, 22957)
(2306, 76686)
(32803, 32770)
(54078, 25618)
(67460, 35040)
(83366, 27784)
(79535, 7619)
(33444, 3645)
(12132, 87789)
(7265, 67930)
(74828, 78590)
(14542, 16447)
(76292, 61921)
(1066, 73125)
(71931, 28034)
(47850, 60297)
(92037, 27811)
(68611, 72508)
(21808, 11879)
(78955, 53392)
(11354, 65951)
Tamaño de la lista: 284654